/* Configuração geral */
html, body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo escuro */
body.modo-escuro {
    background-color: #333;
    color: #fff;
}

/* Cabeçalho */
header {
    background-color: #4682b4 !important;
    text-align: center;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    border: none;
}

/* Rodapé fixo */
footer {
    background-color: #4682b4 !important;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
    padding: 8px 0;
    box-shadow: none;
    border: none;
}

/* Modo escuro no rodapé */
body.modo-escuro footer {
    background-color: #1c2525;
}
/* Botão modo escuro */
.modo-escuro-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
    outline: none; /* Remove a borda azul */
    box-shadow: none; /* Remove qualquer sombra */
}

.modo-escuro-btn:hover {
    transform: scale(1.2);
}

/* Remove a borda azul ao clicar */
.modo-escuro-btn:focus {
    outline: none;
    box-shadow: none;
}

/* Seção adicionar tarefa */
.add-task-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10px;
}

